<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="fullscreen" content="yes" />
    <meta name="description" content="Error Code,0913,metaverse" />
    <meta
      name="keywords"
      content="0913 shuttles among various parallel timelines. While recording major historical events, it speaks out for the disadvantaged as an envoy of justice. However, it happens to be born exactly on January 3, 2009..."
    />
    <link
      rel="shortcut icon"
      href="<%= context.config.define.BASEURL %>favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="manifest"
      href="<%= context.config.define.BASEURL %>manifest.json"
    />
  </head>
  <body>
    <div id="root"></div>
    <script
      id="resize_script"
      data-toggle="<%= context.config.define.ToggleUI %>"
      data-pdw="<%= context.config.define.MobileDesignWidth %>"
      data-mdw="<%= context.config.define.MaxDesignWidth %>"
    >
      var timer;
      function resize() {
        if (timer != undefined) clearTimeout(timer);
        timer = setTimeout(() => {
          var script = document.querySelector("#resize_script");
          if (!script) return;
          var toggle = script.getAttribute("data-toggle") * 1;
          var pdw = script.getAttribute("data-pdw") * 1;
          var mdw = script.getAttribute("data-mdw") * 1;
          var cw = document.body.clientWidth;
          var html = document.documentElement;
          var width, sum;
          if (cw >= toggle) {
            width = cw;
            sum = mdw;
          } else {
            width = pdw;
            sum = pdw;
          }
          html.style.fontSize = width / sum + "px";
        }, 300);
      }
      window.addEventListener("resize", resize);
      resize();
    </script>
  </body>
</html>
